$myBlue: hsla(225, 57%, 35%, 1);
$myRed: hsla(350, 96%, 43%, 1);
$myWhite: hsla(0, 0%, 100%, 1);

$myLightBlue: hsla(225, 57%, 70%, 0.8);
$myLightGrey: rgba(114, 112, 112, 1);
$myTransparentBlue: hsla(225,57%,35%,0.5)
